.ps {
    position: fixed;
    top: 0px;
    left: 20%;
    right: 20%;
    z-index: 1;
}

.fixarRodape {
    bottom: 0;
    position: fixed;
    width: 90%;
    text-align: center;
}

.body {
    margin-bottom: 40px;
}