agm-map {
    left:0;
    top:0;
    height:500px;
    width:100%;
    position:absolute;
   }
   .map-responsive{
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
}
