<div class="container justfy-content-center">
    <div class="row mta justfy-content-center">
        <div class="col-lg-7 mb15">
            <div class="card shadow">
                <div class="card-header" style="text-align: center">
                    <div>
                        <h3> Clique em uma linha para ver seu itinerário </h3>
                        <div class="btn-group btn-group-toggle" ngbRadioGroup name="radioBasic">
                            <label ngbButtonLabel class="btn-primary">
                                <input ngbButton (click)="changeList(true)" type="radio"> Onibus
                            </label>
                            <label ngbButtonLabel class="btn-primary">
                                <input ngbButton (click)="changeList(false)" type="radio"> Lotação
                            </label>
                        </div>
                    </div>
                </div>


                <div *ngIf="mostraOnibus">

                    <app-lista-onibus> </app-lista-onibus>

                </div>
                <div *ngIf="!mostraOnibus">

                    <app-lista-lotacao></app-lista-lotacao>

                </div>
            </div>
        </div>
    </div>
</div>