.scroll {
    max-height: 400px;
    max-width: 600px;
    overflow-y: auto;
}

a {
    width: 60px;
    height: 40px;
    line-height: 40px;
    padding: 10px 5px;
    margin: 10px;
    background-color: #143c8d;
    color: #FFF;
    border-radius: 5px;
    text-decoration: none;
    text-align: center;
    font-weight: bold;
    font-family: Arial;
}