<div class="card-header" style="text-align: center;">
    <label>Você pode filtrar pelo nome:</label>
    <input class="form-control" type="text" [(ngModel)]="nome" name="nome">
</div>
<div class="card scroll">
    <div class="card-body">
        <div *ngIf="lotacoes.length==0">
            <div class="spinner-border m-5" role="status">
                <span class="sr-only">Carregando...</span>
            </div>
        </div>
        <div class="post" *ngFor="let lotacao of lotacoes | filter:nome">
            <!-- Lista de lotações -->
            <div class="row card-block">
                <div class="col-md-12">
                    <!-- inicio modal linhas de lotação -->
                    <ng-template #content let-modal>
                        <div class="modal-header">
                            <h4 class="modal-title" id="modal-basic-title">Linha: {{lotacao.codigo}} / {{lotacao.nome}}</h4>
                            <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div class="card">
                                <div class="card scroll">
                                    <div *ngFor="let item of latLong">
                                        <hr />
                                        <p class="card-text mb-2">
                                            <strong> Clique para ver o ponto no google maps:</strong>
                                            <a href="https://www.google.com/maps/?q={{item.latitude}},{{item.longitude}}"> Clique aqui</a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </ng-template>
                    <!-- fim do modal das linhas -->
                    <div class="card mb-3 clickable" [ngClass]="{ highlight: checkIfCardIsClicked(lotacao.id) }" (click)="setcurrentlyClickedCardIndexB(lotacao.id)" (click)="open(content)">
                        <div class="card-body">

                            <hr />
                            <p class="card-text mb-2">

                                <strong> Id da lotação:</strong> {{ lotacao.id}}
                            </p>
                            <p class="card-text">

                                <strong> Código da lotação:</strong> {{ lotacao.codigo }}
                            </p>
                            <p class="card-text">

                                <strong> Nome da linha:</strong> {{ lotacao.nome }}
                            </p>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>