.header {
    display: flex;
    align-items: center;
    background: #6897f5;
    color: #7ea7f8;
    justify-content: space-between;
}

.header a {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.header .logo {
    max-height: 32px;
}